In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('mercedesbenz.csv',usecols=['X0','X1'])

In [5]:
df.head()

   X0 X1
0   k  v
1   k  t
2  az  w
3  az  t
4  az  v

In [8]:
dfX1_frequency=df['X1'].value_counts().to_dict()

In [9]:
df['X1']=df['X1'].map(dfX1_frequency)

In [12]:
dfX0_frequency=df['X0'].value_counts().to_dict()

In [13]:
df['X0']=df['X0'].map(dfX0_frequency)

In [14]:
df

       X0   X1
0      11  408
1      11   31
2     175   52
3     175   31
4     175  408
...   ...  ...
4204  349  598
4205  181   82
4206  349  408
4207   67  251
4208  360  251

[4209 rows x 2 columns]

#### Disadvantages :
 # 1.Same Count may cause Decrease in insight