In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("D:/OneDrive/Desktop/jupyter/Feature-Enginerring/datasets/fifa21_raw_data.csv")
df.head()

C:\Users\Rahul\AppData\Local\Temp\ipykernel_548\3075458354.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("D:/OneDrive/Desktop/jupyter/Feature-Enginerring/datasets/fifa21_raw_data.csv")

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,...,Medium,Low,5 ★,85,92,91,95,38,65,\n372
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,...,High,Low,5 ★,89,93,81,89,35,77,\n344
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,...,Medium,Medium,3 ★,87,92,78,90,52,90,\n86
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,...,High,High,4 ★,76,86,93,88,64,78,\n163
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,...,High,Medium,5 ★,91,85,86,94,36,59,\n273

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  object
 12  Weight            18979 non-null  object
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
dtypes: int64(55), object(22)
memory usage: 11.1+ MB

In [4]:
df=df[['Nationality','Positions','Name','Age','ID','Height','Weight','foot','Total Stats','Base Stats','Wage','Hits']]

In [5]:
df.head()

,Nationality,Positions,Name,Age,ID,Height,Weight,foot,Total Stats,Base Stats,Wage,Hits
0,Argentina,RW ST CF,L. Messi,33,158023,"5'7""",159lbs,Left,2231,466,€560K,\n372
1,Portugal,ST LW,Cristiano Ronaldo,35,20801,"6'2""",183lbs,Right,2221,464,€220K,\n344
2,Slovenia,GK,J. Oblak,27,200389,"6'2""",192lbs,Right,1413,489,€125K,\n86
3,Belgium,CAM CM,K. De Bruyne,29,192985,"5'11""",154lbs,Right,2304,485,€370K,\n163
4,Brazil,LW CAM,Neymar Jr,28,190871,"5'9""",150lbs,Right,2175,451,€270K,\n273

In [6]:
df.isna().sum()

Nationality    0
Positions      0
Name           0
Age            0
ID             0
Height         0
Weight         0
foot           0
Total Stats    0
Base Stats     0
Wage           0
Hits           0
dtype: int64

->> All Data Is Alredy Cleaned.Just Checking Whether it is real data

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nationality  18979 non-null  object
 1   Positions    18979 non-null  object
 2   Name         18979 non-null  object
 3   Age          18979 non-null  int64
 4   ID           18979 non-null  int64
 5   Height       18979 non-null  object
 6   Weight       18979 non-null  object
 7   foot         18979 non-null  object
 8   Total Stats  18979 non-null  int64
 9   Base Stats   18979 non-null  int64
 10  Wage         18979 non-null  object
 11  Hits         18979 non-null  object
dtypes: int64(4), object(8)
memory usage: 1.7+ MB

In [8]:
df['Height'][0].split('\'')

['5', '7"']

In [9]:
for val in df.Height:
    df['Height_meters']=int(val[0])*0.3048+int(val[2])*0.0254

In [10]:
df.Height.value_counts()

Height
6'0"     2859
5'10"    2654
5'9"     2304
5'11"    2188
6'2"     2108
6'1"     2001
5'8"     1069
6'3"     1049
5'7"      953
6'4"      797
5'6"      332
6'5"      280
5'5"      188
6'6"      116
5'4"       33
6'7"       20
5'3"       15
6'8"        6
5'2"        4
5'1"        2
6'9"        1
Name: count, dtype: int64

In [11]:
df['Height']=df.Height_meters
df.drop(columns=['Height_meters'],inplace=True)

In [12]:
df.head()

,Nationality,Positions,Name,Age,ID,Height,Weight,foot,Total Stats,Base Stats,Wage,Hits
0,Argentina,RW ST CF,L. Messi,33,158023,1.7526,159lbs,Left,2231,466,€560K,\n372
1,Portugal,ST LW,Cristiano Ronaldo,35,20801,1.7526,183lbs,Right,2221,464,€220K,\n344
2,Slovenia,GK,J. Oblak,27,200389,1.7526,192lbs,Right,1413,489,€125K,\n86
3,Belgium,CAM CM,K. De Bruyne,29,192985,1.7526,154lbs,Right,2304,485,€370K,\n163
4,Brazil,LW CAM,Neymar Jr,28,190871,1.7526,150lbs,Right,2175,451,€270K,\n273

In [13]:
df.Weight[0].split('lbs')[0]

'159'

In [14]:
for val in df['Weight']:
    lst=val.split('lbs')
    df['Weight_kg']=int(lst[0])*0.453592

In [15]:
df['Weight']=df['Weight_kg']
df.drop(columns=['Weight_kg'],inplace=True)

In [16]:
df.head()

,Nationality,Positions,Name,Age,ID,Height,Weight,foot,Total Stats,Base Stats,Wage,Hits
0,Argentina,RW ST CF,L. Messi,33,158023,1.7526,68.0388,Left,2231,466,€560K,\n372
1,Portugal,ST LW,Cristiano Ronaldo,35,20801,1.7526,68.0388,Right,2221,464,€220K,\n344
2,Slovenia,GK,J. Oblak,27,200389,1.7526,68.0388,Right,1413,489,€125K,\n86
3,Belgium,CAM CM,K. De Bruyne,29,192985,1.7526,68.0388,Right,2304,485,€370K,\n163
4,Brazil,LW CAM,Neymar Jr,28,190871,1.7526,68.0388,Right,2175,451,€270K,\n273

In [17]:
df.Wage[0].split('€')[1].split('K')[0]

'560'

In [18]:
for val in df['Wage']:
    value=val.split('€')[1].split('K')[0]
    df['Wage']='$'+str(int(value)*1.09575)+'K'

In [19]:
df.head()

,Nationality,Positions,Name,Age,ID,Height,Weight,foot,Total Stats,Base Stats,Wage,Hits
0,Argentina,RW ST CF,L. Messi,33,158023,1.7526,68.0388,Left,2231,466,$547.875K,\n372
1,Portugal,ST LW,Cristiano Ronaldo,35,20801,1.7526,68.0388,Right,2221,464,$547.875K,\n344
2,Slovenia,GK,J. Oblak,27,200389,1.7526,68.0388,Right,1413,489,$547.875K,\n86
3,Belgium,CAM CM,K. De Bruyne,29,192985,1.7526,68.0388,Right,2304,485,$547.875K,\n163
4,Brazil,LW CAM,Neymar Jr,28,190871,1.7526,68.0388,Right,2175,451,$547.875K,\n273

### Applying Some Statistics on Data Of Height,Weight

### 1. Height

You had given Population mean , std and sample of 30 and it mean . u have to check whether it is same or different

=> Given: meu,sigma,n
1. NUll Hyphothesis (Ho): mue is same
2. Alternate Hyphothesis (Ho): mue is not same
3. significance value(aplha): 0.05

In [21]:
mean=df.Height.mean()
mean

np.float64(1.7526000000000004)

In [30]:
import random
sample=df.Height.sample(n=30,random_state=0)
sample

3336     1.7526
3679     1.7526
18103    1.7526
5131     1.7526
10555    1.7526
16160    1.7526
11207    1.7526
6648     1.7526
11411    1.7526
5934     1.7526
16970    1.7526
8327     1.7526
7529     1.7526
18156    1.7526
6278     1.7526
7763     1.7526
13415    1.7526
5632     1.7526
5607     1.7526
5815     1.7526
11358    1.7526
11295    1.7526
3148     1.7526
10671    1.7526
5187     1.7526
16808    1.7526
16044    1.7526
9788     1.7526
16450    1.7526
17415    1.7526
Name: Height, dtype: float64

In [31]:
sigma=df.Height.std()
sample_mean=sample.mean()
n=30

In [32]:
from statsmodels.stats.weightstats import ztest as ztest

In [35]:
z_score,p_value=ztest(sample,value=sample_mean)

In [36]:
z_score

np.float64(0.0)

In [37]:
p_value

np.float64(1.0)

In [38]:
sample_mean

np.float64(1.7526000000000002)

p_value>alpha(significance value) -> we fail to reject the null hypothesis i.e accept null hyphothesis