In [1]:
import pandas as pd
import numpy as np

#### 1. One Hot Encoding(OHE)

In [5]:
df = pd.DataFrame({'Color': ['Red', 'Blue', 'Green', 'Red', 'Blue']},dtype='category')
pd.get_dummies(df,columns=None,dtype='int8',drop_first=False)

   Color_Blue  Color_Green  Color_Red
0           0            0          1
1           1            0          0
2           0            1          0
3           0            0          1
4           1            0          0

In [6]:
df

   Color
0    Red
1   Blue
2  Green
3    Red
4   Blue

#### 2. pd.cut()

In [8]:
df = pd.DataFrame({'Age': [10, 25, 40, 55, 70]})
pd.cut(df['Age'],bins=5,labels=['Young','Adult','Old','Death','God'])

0    Young
1    Adult
2      Old
3    Death
4      God
Name: Age, dtype: category
Categories (5, object): ['Young' < 'Adult' < 'Old' < 'Death' < 'God']

In [9]:
pd.cut(df['Age'],bins=5)

0    (9.94, 22.0]
1    (22.0, 34.0]
2    (34.0, 46.0]
3    (46.0, 58.0]
4    (58.0, 70.0]
Name: Age, dtype: category
Categories (5, interval[float64, right]): [(9.94, 22.0] < (22.0, 34.0] < (34.0, 46.0] < (46.0, 58.0] < (58.0, 70.0]]

In [11]:
pd.cut(df['Age'],bins=5,right=False)

0     [10.0, 22.0)
1     [22.0, 34.0)
2     [34.0, 46.0)
3     [46.0, 58.0)
4    [58.0, 70.06)
Name: Age, dtype: category
Categories (5, interval[float64, left]): [[10.0, 22.0) < [22.0, 34.0) < [34.0, 46.0) < [46.0, 58.0) < [58.0, 70.06)]

In [12]:
pd.cut(df['Age'],bins=4)

0    (9.94, 25.0]
1    (9.94, 25.0]
2    (25.0, 40.0]
3    (40.0, 55.0]
4    (55.0, 70.0]
Name: Age, dtype: category
Categories (4, interval[float64, right]): [(9.94, 25.0] < (25.0, 40.0] < (40.0, 55.0] < (55.0, 70.0]]

In [13]:
pd.cut(df['Age'],bins=3)

0    (9.94, 30.0]
1    (9.94, 30.0]
2    (30.0, 50.0]
3    (50.0, 70.0]
4    (50.0, 70.0]
Name: Age, dtype: category
Categories (3, interval[float64, right]): [(9.94, 30.0] < (30.0, 50.0] < (50.0, 70.0]]

In [14]:
pd.cut(df['Age'],bins=2)

0    (9.94, 40.0]
1    (9.94, 40.0]
2    (9.94, 40.0]
3    (40.0, 70.0]
4    (40.0, 70.0]
Name: Age, dtype: category
Categories (2, interval[float64, right]): [(9.94, 40.0] < (40.0, 70.0]]

In [15]:
pd.cut(df['Age'],bins=1)

0    (9.94, 70.0]
1    (9.94, 70.0]
2    (9.94, 70.0]
3    (9.94, 70.0]
4    (9.94, 70.0]
Name: Age, dtype: category
Categories (1, interval[float64, right]): [(9.94, 70.0]]

In [16]:
pd.cut(df['Age'],bins=12)

0    (9.94, 15.0]
1    (20.0, 25.0]
2    (35.0, 40.0]
3    (50.0, 55.0]
4    (65.0, 70.0]
Name: Age, dtype: category
Categories (12, interval[float64, right]): [(9.94, 15.0] < (15.0, 20.0] < (20.0, 25.0] < (25.0, 30.0] ... (50.0, 55.0] < (55.0, 60.0] < (60.0, 65.0] < (65.0, 70.0]]

In [17]:
pd.cut(df['Age'],bins=100)

0    (9.94, 10.6]
1    (24.4, 25.0]
2    (39.4, 40.0]
3    (54.4, 55.0]
4    (69.4, 70.0]
Name: Age, dtype: category
Categories (100, interval[float64, right]): [(9.94, 10.6] < (10.6, 11.2] < (11.2, 11.8] < (11.8, 12.4] ... (67.6, 68.2] < (68.2, 68.8] < (68.8, 69.4] < (69.4, 70.0]]

#### 3. pd.qcut()

In [19]:
pd.qcut(df['Age'],4)

0    (9.999, 25.0]
1    (9.999, 25.0]
2     (25.0, 40.0]
3     (40.0, 55.0]
4     (55.0, 70.0]
Name: Age, dtype: category
Categories (4, interval[float64, right]): [(9.999, 25.0] < (25.0, 40.0] < (40.0, 55.0] < (55.0, 70.0]]

In [20]:
pd.qcut(df['Age'],1)

0    (9.999, 70.0]
1    (9.999, 70.0]
2    (9.999, 70.0]
3    (9.999, 70.0]
4    (9.999, 70.0]
Name: Age, dtype: category
Categories (1, interval[float64, right]): [(9.999, 70.0]]

In [21]:
pd.qcut(df['Age'],5)

0    (9.999, 22.0]
1     (22.0, 34.0]
2     (34.0, 46.0]
3     (46.0, 58.0]
4     (58.0, 70.0]
Name: Age, dtype: category
Categories (5, interval[float64, right]): [(9.999, 22.0] < (22.0, 34.0] < (34.0, 46.0] < (46.0, 58.0] < (58.0, 70.0]]

In [22]:
df = pd.DataFrame({'Income': [20000, 50000, 80000, 120000, 150000]})
df['Income_Group'] = pd.qcut(df['Income'], q=3, labels=['Low', 'Medium', 'High'])
df

   Income Income_Group
0   20000          Low
1   50000          Low
2   80000       Medium
3  120000         High
4  150000         High